<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="InfoClimaModel" connectionString="metadata=res://*/ModeloClima.csdl|res://*/ModeloClima.ssdl|res://*/ModeloClima.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-8CP3MGK\SQLEXPRESS;initial catalog=InfoClima;persist security info=True;user id=usuarioclima;password=Colombia1**;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<system.diagnostics>
		<switches>
			<add name="habilitaLog" value="1"/>
		</switches>
	</system.diagnostics>
	<system.serviceModel>
		<services>
			<service name="LibreriaClimaWCF.ClimaService" behaviorConfiguration="ServicioClima.Service1Behavior">
				<endpoint address="" binding="netTcpBinding" contract="LibreriaClimaWCF.IClimaService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="net.tcp://localhost:8732/ServicioClima/Servicios/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior  name="ServicioClima.Service1Behavior">
					<serviceMetadata httpGetEnabled="False"/>
					
					<serviceDebug includeExceptionDetailInFaults="True" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>